name: Check Style

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  php-cs-fixer:
    name: Code Standard & Style Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-stable-laravel-12-php-8.4-composer-${{ hashFiles('composer.json') }}

      - name: Run composer install
        run: composer install -n --prefer-dist

      - name: Run code style check
        run: ./vendor/bin/php-cs-fixer fix -v --dry-run --show-progress=dots
